h1, h2 {
  color: #566871;
  padding-bottom: 10px;
}


.blog-post {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 30px;
}

.padding20all {
  padding: 20px;
}



ul,p {
  font-size: 20px;
  /* line-height: 30px; */
  font-family: "Source Sans Pro","SF UI Text","San Francisco",-apple-system,BlinkMacSystemFont,sans-serif;
}

i {
  display: inline-block;
  margin-right: 10px;
}
